<app-navbar></app-navbar>
<h2>Post a New Blog</h2>
<form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" required />
    <mat-error *ngIf="blogForm.get('title')?.hasError('required')">
      Title is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Content</mat-label>
    <textarea matInput formControlName="content" required></textarea>
    <mat-error *ngIf="blogForm.get('content')?.hasError('required')">
      Content is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Image URL</mat-label>
    <input matInput formControlName="imageUrl" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select formControlName="category" required>
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="blogForm.get('category')?.hasError('required')">
      Category is required
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="blogForm.invalid"
  >
    Post Blog
  </button>
</form>
