<app-navbar></app-navbar>
<div class="login-container">
  <div class="box">
    <h1>Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
            >Email is required.</mat-error
          >
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')"
            >Please enter a valid email.</mat-error
          >
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
            >Password is required.</mat-error
          >
        </mat-form-field>
      </p>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div>
