<div class="sidebar-container">
  <div class="blog-search">
    <h1>Search Blogs</h1>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="search-form">
      <p>
        <mat-form-field appearance="fill" class="mat-search-input">
          <mat-label>Search</mat-label>
          <input
            matInput
            formControlName="searchTerm"
            placeholder="Search blogs"
          />
        </mat-form-field>
      </p>
      <button mat-raised-button color="primary" type="submit">Search</button>
    </form>
  </div>

  <div class="categories">
    <h1>Categories</h1>
    <mat-list class="cat-list">
      <mat-list-item
        *ngFor="let category of categories"
        class="cat-list-item"
        (click)="onSelectCategory(category.id!)"
      >
        {{ category.name }}
      </mat-list-item>
    </mat-list>
  </div>
</div>
