.blog-detail-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.blog-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.blog-info {
  position: relative;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.author,
.date {
  font-size: 1rem;
  color: gray;
}

.action-buttons {
  position: absolute;
  right: 0;
  top: 30px;
}

.action-buttons button mat-icon {
  font-size: 2rem;
  width: max-content;
  height: max-content;
}

.not-liked mat-icon {
  color: gray;
}
