<app-navbar></app-navbar>
<div class="blog-detail-container">
  <img [src]="blog?.imageUrl" alt="{{ blog?.title }}" class="blog-image" />

  <div class="blog-info">
    <h1>{{ blog?.title }}</h1>
    <p class="author">Author: {{ blog?.user?.username }}</p>
    <p class="date">{{ blog?.creationDateTime | date }}</p>

    <p>{{ blog?.content }}</p>

    <div class="action-buttons">
      <button *ngIf="isLiked" mat-button (click)="unlikeBlog()" color="accent">
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        *ngIf="!isLiked"
        mat-button
        (click)="likeBlog()"
        class="not-liked"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-button (click)="editBlog()" color="primary" *ngIf="isAuthor">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button (click)="deleteBlog()" color="warn" *ngIf="isAuthor">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <app-comment [blogId]="blogId"></app-comment>
</div>
